body{
    background-color: #34eb68;
}
.hederri{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.hederri ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
}

    
.btn1{
    border: 0 solid black;
    border: none;
    background-image:linear-gradient(45deg, #32a6a8, #328ca8);
    border-radius: 5px;
    margin: 0 5px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    transition: 0.5s ease;
}
.btn1:hover{
    width: 120px;
    height: 60px;
    transition: 0.5s ease;
}
.fieldi{
    display: flex;
    flex-direction: column;
    border: 0 solid black;
    border-radius: 15px;
    background-image:linear-gradient(45deg, #32a6a8, #328ca8);
    width: 700px;
    height: 400px;
    margin-left : 400px;
}
.fieldi .butonat_nalt{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#btnlg {
    border: 0 solid black;
    background-color: transparent;
    width: 360px;
    height: 50px;
    border-bottom: 0.5px solid gray ;
    color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
#btnlg:hover{
    background-color: #34ebab;
}
#btnlg2{
    border: 0 solid black;
    background-color: transparent; 
    width: 360px;
    height: 50px;
    border-bottom: 0.5px solid gray ;
    border-left: 2px solid gray;
    color: white;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
#btnlg2:hover{
    background-color: #34ebab;
}
/* .fieldi .pjest {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 450px;
} */
/* .fieldi .pjest2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 250px;
} */

#Labela1{
    color: white;
    margin-left: 50px;
    font-size: large;
    
}
#usertxt{
    border: 0 solid black;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    width: 350px;
    height: 35px;
    margin-left: -90px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.forms{
    display: flex;
    flex-direction: row;
}
#mail{
    border: 0 solid black;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    width: 350px;
    height: 35px;
    margin-left: -90px;
    margin-top: 15px;
    margin-bottom: 20px; 
    padding-left: 10px;
}
#labela2{
    color: white;
    margin-left: 50px;
    font-size: large;
}
#userpass{
    border: 0 solid black;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    width: 350px;
    height: 35px;
    margin-left: -90px;
    margin-top: 15px;
    padding-left: 10px;

}
.fieldi .submiti{
    margin-left: 40px;
    margin-top: 20px;
    border: 0 solid black;
    border-radius: 5px;
    background-color: #139939;
    width: 100px;
    height: 30px;
    cursor: pointer;

}
.fieldi .submiti:hover{
background-color: #025a1b;
}
#Copyright{
    margin-top: 100px;
    text-align: center;
}
.fieldi .forms{
    overflow: hidden;
}
#logini{
    padding-top: 20px;
    margin-left: 250px;
position: relative;
transition: .5s ;
}
#registeri{
    margin-left: 400px;
    position: relative;
    transition: .5s ;
}
@media only screen and (max-width: 375px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .header img {
        width: 50px;
        height: 50px;
        position: relative;
        left: 150px;
    }

    .headerList {
        flex-wrap: nowrap;
        padding: 0;
        justify-content: space-between;
    }

    .headerList li {
        margin: 0px;

    }
}



