#bodie{
    background-color: aquamarine;
}
.Headeri{
    font-size: small;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}
.hederri{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.hederri ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.hederri .btn1{
    margin-right: 10px;
    background-color:rgb(1, 134, 151) ;
    border: 0 solid black;
    border-radius: 5px;
    
}
.fieldi{
    padding-left: 30px;
    width: 400px;
    height: 200px;
    margin: 100px;
    margin-left: 505px;
    background-color: rgb(1, 134, 151);
    border-radius: 20px ;
    border-style: hidden;
    margin-bottom: 200px;
}
.butoniregister{
    margin-left: 160px;
}
.butonilogin{
    margin-left: 50px;
    
}
.fieldi .butonilogin:hover{
    background-color: rgb(66, 66, 66);
}
.fieldi .butoniregister:hover{
    background-color: rgb(66, 66, 66);
}
.fieldi input[type='button']{
    margin-bottom: 30px;
    margin-top: 10px;
    background: none;
    font-weight: bolder;
    border-color: gray;
    border-top: 2px;
    border-bottom: 2px;
    border-right: 2px;
    
    
}
.fieldi input[ type='text'], input[type='password'], input[type='submit']{
    border-radius: 10px;
    
}
.fieldi input[type='submit']{
    margin-top: 10px;
    margin-left: 150px;
    margin-bottom: 20px;
    background-color: rgb(0, 168, 0);
    border-style: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px; padding-bottom: 2px;
    
}
.fieldi .submiti:hover{
    background-color: rgb(0, 59, 0);
}
#Labela1, #labela2{
padding-left: 150px;
}
.fieldi input[ type='text'], input[type='password']{
    margin-left: 50px;
    border-style: none;
    height: 13px;
    background-color: rgb(184, 184, 184);
    width: 255px;
}
#Copyright{
    text-align: center;
}

